body {
    background-color: #3C4048;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

/* text styles */
fw-bold {
    font-weight: 700;
}
fw-normal {
    font-weight: normal;
}
fs-title {
    font-size: 1.5em;
}
fs-small {
    font-size: 0.8em;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}
.content {
    background-color: white;
    width: 60%;
    min-height: 400px;
    padding: 30px;

    border-radius: 5px;
}
#title {
    margin-top: 0px
}
.input {
    width: 88%;
    height: 35px;
    font-size: large;

    border: 0;
    background-color: #B2B2B2;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.post {
    margin-left: 5px;

    height: 35px;
    width: 60px;
    font-size: large;

    border: 0;
    background-color: #00ABB3;
    border-radius: 5px;

    transition: background-color 0.5s;
}
.post:hover {
    cursor: pointer;
    background-color: #026a6f;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* background-color: #3C4048; */
    background-color: #5f5f6a;
    border-radius: 5px;

    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    color: white;
    font-weight: bold;

    transition: background-color 0.5s;
}
.item:hover {
    background-color: #3C4048;
}
.delete {
    padding: 0;
    height: 25px;
    width: 60px;
    font-size: large;

    border: 0;
    background-color: #ff7474;
    border-radius: 5px;

    transition: background-color 0.5s;
}
.delete:hover {
    cursor: pointer;
    background-color: #f85454;
}

@media (max-width: 1250px) {
    .content {
        min-height: 500px;
        width: 100%;
        margin: 0;
    }
    .post {
        margin-top: 10px;
        margin-left: 0px;
    }
}